/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);

  border: 1px solid #ccc;
  box-shadow: 0 0 8px #333;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}





/* Custom themes */

body {
	background-image: url(http://i.imgur.com/mU7FI.png);
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	padding: 0; margin: 0;
	padding-bottom: 150px;
}

#bottom-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 0;
}

#content-wrapper {
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1;
	position: relative;
	box-shadow: 0 0 10px #222;
	padding-bottom: 5em;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;

  	background-image: url(http://i.imgur.com/ks3EZ.png);
  	background-image: url(http://i.imgur.com/Exr9C.png);
  	background-image: url(http://i.imgur.com/tI1ri.png);
  	background-image: url(http://i.imgur.com/wtGbY.gif);
  	background-image: url(http://i.imgur.com/Lu0rz.png);
  	background-image: url(http://i.imgur.com/GiNLC.gif);
}

article.post-body p {
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Source Sans Pro';
	margin-bottom: 1em;
}

article.post-body a:hover {
	text-decoration: none;
	background: #08C;
	color: white;
}

div.metadata {
	height: 76px;
	background: rgba(0,0,0,.1);
	padding: 1em;
	width: 30em;
	margin: auto;
	margin-top: 8em;
}
article.author img {
	float:left;
	height: 75px;
	margin-right: 1em;
}

article.author {
	width: 21em;
	margin: auto;
}


article.post-body {
	width: 42em;
	margin: auto;
}

div.page-header {
	width: 100%;
	text-align: center;
	background-image: url(http://i.imgur.com/tb74W.png);
	background-image: url(http://i.imgur.com/RO3tc.png);
	background-size: cover;
	height: 48em;
	position: relative;
	/*padding-top: 7em;
	padding-bottom: 7em;
	background-image: url(http://i.imgur.com/mXuzj.png);
*/}

div.page-header h1 {
	font-family: 'Oxygen';
	margin-top: 7em;
	font-size: 5em;
	color: white;
	text-shadow: 0 -2px 0 #333;
	text-align: right;
}

p.author {
	width: 100%;
	background: rgba(0,0,0,.7);
	text-align: right;
	padding-right: 2em;
	box-sizing: border-box;
	font-size: 1.5em;
	line-height: 1.1em;
}

p.author, p.author a {
	color: white;
}


/* ------------- */




/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	