.container {
	max-width: 800px !important;
	width: 800px !important;
}

.span12 {
	max-width: 800px;
}

.page-header {
	background-image: url(vapeneksport-header.png);
	background-size: 100%;
	height: 299px;
	border: none;

	position: relative;

	box-shadow: 0px 4px 7px -2px #222;
}

#content-wrapper {
  	background-image: url(carbon-bakgrunn.gif);
}

.content {
	background: #353535;
	color: white;
	border: none;
}
.content h2 {
	color: white;
	margin-top: 2em;
}

article.post-body {
	padding: 0 6em;
}

p {
	font-family: 'Source Sans Pro';
	font-size: 1.2em;
	line-height: 1.5em;

	margin-bottom: 1em;
}

/*p+p {
	text-indent: 2.5em;
}*/



@font-face { font-family: Stencil; src: url('StencilStd.otf'); } 

.title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 1.3em;
	padding-bottom: 1.8em;
}

h1.post-title {
	font-family: Stencil;
	color: white;
	margin: 0;
	font-weight: normal;
	font-size: 6em;
}

h2.post-subtitle {
	font-family: sans-serif;
	margin: 0;
	font-weight: normal;
	color: white !important;
	font-style: italic;
	font-size: 1.6em;
	margin-top: -1em;
}

p.author {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.7em;
	padding-right: 1.6em;
}

p.author a {
	color: white;
	font-style: italic;
}



h3 {
	color: white;
}






/*.content {
	background: #eaeaea;
}

.content p, .content h2 {
	color: #333;
}

#content-wrapper {
	background: #353535;
}*/