---
layout: default
style: weapon
---
{% include JB/setup %}



<div class="page-header">
	<div class="title">
  		<h1 class="post-title">{{ page.title }}</h1>
  		<h2 class="post-subtitle">{{ page.subtitle }}</h2>
	</div>
  <p class="author">Jonathan Torstensen</p>
  <p class="post-ingress">{{ page.ingress }}</p>
</div>

<div class="row">
  <div class="span12">
    <article class="post-body">
      {{ content }}

    <p style="text-align: right;"><em>{{ page.date | date_to_long_string }}</em></p>
    </article>
  {% include metadata.html %}
  {% include widget/nav %}

  <div class="comments well">
    {% include JB/comments %}
  </div>

  </div>

</div>
